.btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1;
  font-family: var(--mainFont);
  min-width: 120px;
}

.btn:hover,
.icon-btn:hover {
  filter: opacity(0.5);
}

.primary-btn {
  background-color: var(--light-secondaryColor);
  border: 2px solid transparent;
}

.secondary-btn {
  background-color: white;
  border: 2px solid var(--light-secondaryColor);
  color: var(--mainText);
}

/* TOOLTIP : SIMULATOR */
.see-more-btn {
  background: none;
  color: var(--darkblue);
  line-height: 0.5em;
  font-size: 1.2em;
}

/* ZONE 3 : SIMULATOR */
.simulator-btn {
  background-color: white;
  border: 2px solid white;
  color: var(--mainText);
}

.icon-btn {
  background: none;
  font-size: 2rem;
  line-height: 1;
  color: white;
  border: none;
}

/* TABS : WORKSHOPS + RESULTS*/
.tab-btn {
  background: none;
  border: none;
  display: inline-block;
  min-width: auto;
}

.tab-btn::after {
  content: "";
  background-color: transparent;
  height: 5px;
  display: block;
  margin-top: -2px;
}

.tab-btn.active::after {
  content: "";
  background-color: var(--light-secondaryColor);
  height: 5px;
  display: block;
  margin-top: -2px;
}

.tab-btn.active-bis::after {
  content: "";
  background-color: var(--light-mainColor);
  height: 5px;
  display: block;
  margin-top: -2px;
}

/* BLINKING ARROW : HOME + RESULTS*/
.blinking-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  min-width: auto;
  animation: blinker 2s linear infinite;
  border: none;
  font-size: 26px;
  box-shadow: var(--shadow);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.see-more-btn {
  /* border-color: var(--darkblue); */
  color: var(--darkblue);
  background-color: inherit;
  /* background-color: var(--darkblue); */
  line-height: 0.5em;
  font-size: 1.2em;
}
