.btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1;
  font-family: var(--font-main);
  min-width: 120px;
}

.btn:hover, .icon-btn:hover {
  filter: opacity(0.5);
}

.primary-btn {
  background-color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  color: white;
}

.secondary-btn {
  background-color: white;
  border: 2px solid var(--secondaryColor);
  color: var(--text-main);
}

.simulator-btn {
  background-color: white;
  border: 2px solid white;
  color: var(--text-main);
}

.icon-btn {
  background: none;
  font-size: 2rem;
  line-height: 1;
  color: white;
  border: none;
}

/* RESTE */

.valid-button {
  color: #021438;
  font-size: 0.8em;
  background-image: var(--backgreen);
  background-size: 120% 120%;
  background-position: center;
  border: 2px solid transparent;
  font-weight: bold;
}

#cta-btn {
  font-size: 1.3em;
  color: #021438;
}

.see-more-btn {
  /* border-color: var(--darkblue); */
  color: var(--darkblue);
  /* background-color: var(--darkblue); */
  line-height: 0.5em;
  font-size: 1.2em;
}