.btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1;
  font-family: var(--mainFont);
  min-width: 120px;
}

.btn:hover,
.icon-btn:hover {
  filter: opacity(0.5);
}

.primary-btn {
  background-color: var(--light-secondaryColor);
  border: 2px solid transparent;
}

.secondary-btn {
  background-color: white;
  border: 2px solid var(--light-secondaryColor);
  color: var(--mainText);
}

.simulator-btn {
  background-color: white;
  border: 2px solid white;
  color: var(--mainText);
}

.icon-btn {
  background: none;
  font-size: 2rem;
  line-height: 1;
  color: white;
  border: none;
}

.tab-btn {
  background: none;
  border: none;
  display: inline-block;
  min-width: auto;
}

.tab-btn::after {
  content: "";
  background-color: transparent;
  height: 5px;
  display: block;
  margin-top: -2px;
}

.tab-btn.active::after {
  content: "";
  background-color: var(--light-secondaryColor);
  height: 5px;
  display: block;
  margin-top: -2px;
}

.tab-bis-btn {
  background: none;
  border: none;
  display: inline-block;
  min-width: auto;
}

.tab-bis-btn::after {
  content: "";
  background-color: transparent;
  height: 5px;
  display: block;
  margin-top: -2px;
}

.tab-bis-btn.active::after {
  content: "";
  background-color: var(--light-mainColor);
  height: 5px;
  display: block;
  margin-top: -2px;
}

/* RESTE */

.valid-button {
  color: #021438;
  font-size: 0.8em;
  background-image: var(--backgreen);
  background-size: 120% 120%;
  background-position: center;
  border: 2px solid transparent;
  font-weight: bold;
}

#cta-btn {
  font-size: 1.3em;
  color: #021438;
}

.see-more-btn {
  /* border-color: var(--darkblue); */
  color: var(--darkblue);
  /* background-color: var(--darkblue); */
  line-height: 0.5em;
  font-size: 1.2em;
}
