.modal-parent {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 80%);
}

.modal-content {
  position: relative;
  background-color: white;
  border-radius: 6px;
  padding: 50px 80px;
  max-width: 950px;
  max-height: 90vh;
  overflow-y: scroll;
}

.modal-content table {
  margin-top: 0;
}

.modal-content .close-btn {
  align-self: flex-end;
}


/* /// INTRO */
#intro-modal ul {
  margin-left: 30px;
}
#intro-modal h3 {
  color: var(--mainColor);
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
#intro-modal a {
  color: var(--mainColor);
  text-decoration: underline;
}
#intro-modal p {
  font-size: 13px;
  color: var(--mainColor);
  margin-bottom: 10px;
}
#intro-modal li {
  font-size: 13px;
  color: var(--mainColor);
  font-family: var(--textPolice);
}
#modal_contact {
  background-color: var(--mainColor);
  color: white;
  padding: 5px 10px;
}

form .MuiInput-underline::after {
  border-bottom: 2px solid var(--secondaryColor);
}

form .MuiFormLabel-root.Mui-focused, form .MuiCheckbox-colorSecondary.Mui-checked {
  color: var(--secondaryColor);
}

form .MuiCheckbox-colorSecondary.Mui-checked:hover, form .MuiIconButton-colorSecondary:hover {
  background-color: var(--seethrough);
}

form .MuiFormGroup-root .group {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form .MuiFormHelperText-root {
  align-self: flex-end;
}