/* GLOBAL */
#workshop_infos {
  width: 100%;
  height: 100%;
}

#workshop_infos h1,
#workshop_infos h2,
#workshop_infos h3 {
  align-self: flex-start;
  margin-bottom: 40px;
}

/* HEADER */
.workshop-summary {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 60px;
  margin-bottom: 40px;
}

.workshop-summary > div {
  align-items: flex-start;
  height: 100%;
}

.workshop-summary .btn {
  margin: 10px 0;
  width: 270px;
}

.workshop-summary svg {
  margin-right: 15px;
}

.workshop-summary div div {
  margin: 5px 0;
}

.workshop-summary div > svg {
  color: var(--mainColor);
}

.workshop-summary a {
  font-family: var(--mainFont);
  text-decoration: underline;
}

.workshop-summary a:hover {
  color: var(--mainColor);
}

.workshop-tabs {
  margin-top: 20px;
}

.workshop-tabs .btn {
  margin: 20px 20px 0;
}

.sectors-menu {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid var(--light-mainColor);
}

.sectors-menu .btn {
  margin: 0 10px;
}

/* >>> PAGE SYNTHESE */
/* RESULTATS */
#workshop_infos .indicator_box {
  flex-wrap: wrap;
}

#workshop_infos .indicator_main {
  padding: 15px;
  box-shadow: var(--light-shadow);
  border-radius: 6px;
  flex: 1;
  margin: 0 20px;
  border: 2px solid var(--light-mainColor);
  position: relative;
}

#workshop_infos .indicator_main p {
  text-align: center;
}

#workshop_infos .indicator_main p:first-of-type {
  font-weight: bold;
  margin-bottom: 10px;
}

#workshop_infos .indicator_main svg {
  position: absolute;
  top: 10px;
  right: 10px;
}

#workshop_infos .main-box .indicator_main {
  border: 2px solid var(--light-mainColor);
}

#workshop_infos .indicator_box.main-box p {
  font-size: 14px;
}

#workshop_infos .indicator_box.main-box svg {
  color: var(--secondaryColor);
}

#workshop_infos .secondary-box .indicator_main {
  border: 2px solid var(--light-secondaryColor);
}

#workshop_infos .indicator_box.secondary-box p {
  font-size: 12px;
}

#workshop_infos .indicator_box.secondary-box svg {
  color: var(--mainColor);
}

#workshop_infos .result-box table {
  margin: 50px 0;
}

/* >>> PAGE SYNTHESE */
/* PARAMETRES */
#workshop_infos .param-box {
  margin: 0 0 50px;
}

#workshop_infos h4 {
  font-size: 18px;
  font-weight: normal;
  font-family: var(--mainFont);
}

#workshop_infos h4::after {
  margin-top: -8px;
}

#workshop_infos .param-box h4 svg {
  margin-right: 10px;
}

/* >>> PAGE SECTEURS */
#workshop_infos .sector-page table,
#workshop_infos .users-page table {
  margin: 50px 0;
}

#workshop_infos #parameters_distribution_container {
  flex-wrap: wrap;
}

#workshop_infos .parameter_distribution_box {
  flex: 1;
  min-width: 350px;
  height: 350px;
  padding: 20px;
  box-shadow: var(--light-shadow);
  margin: 20px;
}

#workshop_infos .parameter_distribution_box > p {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 20px;
}

/* LOADER */
#sim_loader {
  background-color: white;
  opacity: 0.3;
}
