/* GLOBAL */
#workshop_infos {
  width: 100%;
  height: 100%;
}

#workshop_infos h2,
#workshop_infos h3 {
  align-self: flex-start;
  margin-bottom: 40px;
}

/* HEADER */
.workshop-header {
  padding: 0;
}

.workshop-summary {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 35px;
  font-size: 14px;
  padding: 20px 60px;
}

/* LEFT : NAME */
.workshop-name {
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--secondaryColor);
  text-transform: uppercase;
  margin: 0;
}

/* MIDDLE : SPECS */
.workshop-specs div {
  margin-right: 20px;
}

.workshop-specs div > svg {
  color: var(--mainColor);
  margin-right: 8px;
}

.workshop-specs a {
  font-family: var(--mainFont);
  text-decoration: underline;
}

.workshop-specs a:hover {
  color: var(--mainColor);
}

.workshop-specs input {
  font-size: inherit;
  color: var(--secondaryColor);
  width: 100px;
}

/* HEADER RIGHT : ACTIONS */
.workshop-actions {
  align-items: flex-start;
}

.workshop-actions .icon-btn {
  color: var(--secondaryColor);
  font-size: 1rem;
  line-height: 1.5em;
}

.workshop-actions .icon-btn:not(:last-child) {
  margin-right: 10px;
}

#workshop_infos hr {
  width: 90%;
  border: 0.5px solid var(--lightgrey);
}

/* BOTTOM : NAV */
.workshop-nav {
  padding: 20px;
}

.workshop-tabs .btn, .sectors-menu .btn {
  margin: 0 20px;
  padding: 0;
  font-size: inherit;
}

.sectors-menu {
  padding: 10px;
  width: fit-content;
  margin: 10px auto 0;
  background-color: var(--lightgrey);
}

/* >>> PAGE SYNTHESE */
/* RESULTATS */
#workshop_infos .indicator_box {
  flex-wrap: wrap;
}

#workshop_infos .indicator_main {
  padding: 15px;
  box-shadow: var(--light-shadow);
  border-radius: 6px;
  flex: 1;
  margin: 0 20px;
  border: 2px solid var(--light-mainColor);
  position: relative;
}

#workshop_infos .indicator_main p {
  text-align: center;
}

#workshop_infos .indicator_main p:first-of-type {
  font-weight: bold;
  margin-bottom: 10px;
}

#workshop_infos .indicator_main svg {
  position: absolute;
  top: 10px;
  right: 10px;
}

#workshop_infos .main-box .indicator_main {
  border: 2px solid var(--light-mainColor);
}

#workshop_infos .indicator_box.main-box p {
  font-size: 14px;
}

#workshop_infos .indicator_box.main-box svg {
  color: var(--secondaryColor);
}

#workshop_infos .secondary-box .indicator_main {
  border: 2px solid var(--light-secondaryColor);
}

#workshop_infos .indicator_box.secondary-box p {
  font-size: 12px;
}

#workshop_infos .indicator_box.secondary-box svg {
  color: var(--mainColor);
}

#workshop_infos .result-box table {
  margin: 50px 0;
}

/* >>> PAGE SYNTHESE */
/* PARAMETRES */
#workshop_infos .param-box {
  margin: 0 0 50px;
}

#workshop_infos h4 {
  font-size: 18px;
  font-weight: normal;
  font-family: var(--mainFont);
  margin-bottom: 8px;
}

#workshop_infos h4::after {
  margin-top: -8px;
}

#workshop_infos .param-box h4 svg {
  margin-right: 10px;
}

/* >>> PAGE SECTEURS */
#workshop_infos .sector-page table,
#workshop_infos .users-page table {
  margin: 50px 0;
}

#workshop_infos #parameters_distribution_container {
  flex-wrap: wrap;
}

#workshop_infos .parameter_distribution_box {
  flex: 1;
  min-width: 350px;
  height: 350px;
  padding: 20px;
  box-shadow: var(--light-shadow);
  margin: 20px;
}

#workshop_infos .parameter_distribution_box > p {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 20px;
}

/* LOADER */
#sim_loader {
  background-color: white;
  opacity: 0.3;
}
